
@font-face{
    font-family:'Montserrat';
    src:url('/static/fonts/Montserrat-Regular.ttf');
    font-family:normal;
    font-style:normal
}
@font-face{
    font-family:'Montserrat';
    src:url('/static/fonts/Montserrat-Bold.ttf');
    font-family:Bold;
    font-style:normal
}
@font-face{
    font-family:'Montserrat';
    src:url('/static/fonts/Montserrat-Light.ttf');
    font-family:lighter;
    font-style:normal
}
@font-face{
    font-family:'Montserrat';
    src:url('/static/fonts/Montserrat-Italic.ttf');
    font-family:normal;
    font-style:normal
}