@import './shared/fonts';
@import './shared/index';
@import './shared//_Header.scss';



html, body {
  height:100%;
  width:100%;
  font-family: 'Montserrat', 'Helvetica';
}
.selfTyped{
  font-size:30px;
  color:greenyellow;
  font-weight: bold;
  letter-spacing: 2px;

}
.absolute {
  position: absolute;
}
.base-page{
  padding-top:120px;
  color:white
}

// WRAPPER
